* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
body {
  font-family: montserrat;
}
nav {
  background: #0082e6;
  height: 80px;
  width: 100%;
  /* position: fixed; */
}
.logo {
  color: white;
  font-size: 40px;
  line-height: 80px;
  padding: 10px 100px;
  font-weight: bold;
  margin-left: 3em;
}

nav ul {
  float: right;
  margin-right: 20px;
}
nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
nav ul li a {
  color: #fff;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}
a.active,
a:hover {
  background: #1b9bff;
  transition: 0.5s;
}
.pee {
  position: absolute;
  top: 40px;
  right: 20px;
  transform: translate(-50%, -50%);
  cursor: pointer;
  display: none;
  /* float: right; */
}
.def {
  width: 35px;
  height: 4px;
  background: white;
  margin: 4px 0;
  /* display: none; */
}
@media  (max-width: 802px) {
  label.logo {
    font-size: 30px;
    padding-left: 50px;
  }
  nav ul li a {
    font-size: 16px;
  }
}
@media (max-width: 858px) {
  .pee {
    display: block;
  }
  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #2c3e50;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
    z-index: 1;
  }
  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a {
    font-size: 20px;
  }
  a:hover,
  a.active {
    background: none;
    color: #0082e6;
  }

  #check:checked ~ ul {
    left: 0;
  }
}
.der-model {
  background: rgb(182, 186, 255);
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 10;
  display: flex;
  align-content: center;
  justify-content: center;
  transition: all 0.4s;
  visibility: hidden;
  opacity: 1;
}
.der-model {
  visibility: visible;
  opacity: 1;
}
.model-content {
  width: 540px;
  max-width: 40%;
  height: 350px;
  background: rgb(56, 24, 197);
  padding: 2em 2em;
  border-radius: 40px;
  text-align: center;
  position: relative;
  top: 70px;

}
/* @media only screen and (min-width: 540px){
  .model-content{
    width: 500px
  }
} */
label {
  margin-left: -140px;
}
.close {
  position: absolute;
  top: 0;
  right: 14px;
  font-size: 70px;
  font-weight: bold;
  /* transform: rotate(45deg); */
  cursor: pointer;
  text-decoration: none;
  color: rgb(255, 255, 255);
}
.close:hover{
  color: #2c3e50;
}
.content-area h3 {
  display: flex;
  justify-content: center;
  width: 90%;
  margin: 0 auto;
  text-align: center;
  font-size: 35px;
  color: rgb(255, 255, 255);
}
.banner-area h2 {
  font-size: 40px;
  line-height: 50px;
  color: rgb(255, 255, 255);
}
.container {
  position: relative;
  background: url(../Images/emergency.jpg) no-repeat center;
  height: 450px;
  overflow: hidden;
  /* margin-top: 08px; */
  background-size: cover;
}
.wrapper {
  position: relative;
  background: url(../Images/Emergency-Medicine.jpg) no-repeat center;
  height: 209px;
  overflow: hidden;
  background-size: cover;
}

.we {
  font-weight: bold;
  font-size: 30px;
}
form {
  margin: 10px;
  text-align: center;
}
.saw {
  display: block;
  font-size: 18px;
  color: #fff;
  /* margin-top:10px; */
  margin-left: -370px;
}
button {
  display: block;
  width: 80%;
  padding: 8px;
  border: none;
  background: #fff;
  /* color: #fff; */
  cursor: pointer;
  font-size: 18px;
}
button:hover {
  color: rgb(56, 24, 197);
}
input {
  display: block;
  width: 80%;
  color: #03070a;
  border: none;
  background: rgb(203, 211, 218);
  padding: 4px;
  outline: none;
}

.leftside,
.rightside {
  height: 50vh;
  width: 100%;
}

.leftside {
  background: #1b9bff;
}
.rightside {
  background: #fff;
}
@media screen and (min-width: 768px) {
  .leftside,
  .rightside {
    height: 100vh;
  }
}

.purpose {
  background: #187bc7;
  width: 100%;
  padding: 30px 0px;
}
.hel h2 {
  color: white;
  font-size: 75px;
  width: 90%;
  margin: 30px auto;
  text-align: center;
}
.lux {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 40px;
}

@media only screen and (max-width: 768px) {
  .lux{
    display: block;
    padding: 40px 50px;
  }
}
.ear {
  height: 365x;
  width: 335px;
  padding: 20px 35px;
  background: #96d2ee;
  border-radius: 20px;
  margin: 15px;
  position: relative;
  overflow: hidden;
  text-align: center;
}
img{
  width: 80px;
  height: 70px;
}
h3{
  /* color: #fff; */
  font-size: 23px;
  margin: 15px;
}
.bar p{
  font-size: 15px;
  line-height: 20px;
  margin-bottom: 20px;
}
.ear .button{
  background: #0d71bd;
  color: white;
  text-decoration: none;
  border: 2px solid transparent;
  font-weight: bold;
  padding: 9px 20px;
  border-radius: 30px;
  transition: .4s;
}
 .button:hover{
  background: transparent;
  border: 2px solid #5d4eeb;
  cursor: pointer;
}
.main{
  position: absolute;
  top: 200px;
  left: 70px;
}
.dudu{
  border: 3px ;
  height: 40px;
  width: 350px;
  border-radius: 60px;
  padding: 0px 10px;
  color: rgb(119, 65, 219);
  background: white;
  font-size: 20px;
}

.main_1, .main_2, .man{
  width: 500px;
  margin: 30px auto;
}

.main_1 .main_2 .area{
  position: relative;
  width: 450px;
  height: 40px;
}

.ved{
  border-radius: 60px;
  width: 350px;
  cursor: pointer;
  font-size: 20px;
}
.ved:hover{
  border: none;
  background: #08406b;
  color: white;
}
@media only screen and (max-width: 768px){
  .leftside{
    background: white;
    color: #0d71bd;
  }
  .dudu{
    background: #0d71bd;
    color: #fff;
  }
  .dudu::placeholder{
    color: aliceblue;
  }
  .ved:hover{
  border: none;
  background: #a9c8e0;
  color: rgb(9, 15, 99);
  }
}
.hes {
  position: absolute;
  top: 0;
  right: 14px;
  font-size: 70px;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
  color: rgb(255, 255, 255);
}
.hes:hover{
  color: #2c3e50;
}
.leftside h1{
  color:rgb(255, 255, 255);
}
.nor{
  border:  solid #ffffff;
  width: 100%;
  height: 100%;
}

